<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.dukascopy.api.instrument.InstrumentParser" level="ERROR"/>
    <logger name="com.dukascopy.dds4.transport.client.ClientProtocolHandler" level="ERROR"/>

    <springProfile name="local">
        <logger name="io.tednology" level="TRACE"/>
        <logger name="io.tednology.strategies" level="INFO"/>
    </springProfile>

    <springProfile name="live">
        <logger name="io.tednology" level="INFO"/>
        <logger name="io.tednology.strategies" level="DEBUG"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>